.netreviews_review_rate_and_stars {
    font-family: Roboto, sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
}

.inactive_container {
    display: flex;
    position: absolute;
}

.active_container {
    display: flex;
    position: relative;
}

.stars_overflow {
    overflow: hidden;
}

.inline_stars {

}

.reviews_list {

}

.netreviews_review {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.netreviews_stars_rate {
    display: flex;
    align-items: center;
}

.inline_rating {
    margin-left: 5px;
    font-size: 15px;
    line-height: 18px;
}

/*loader*/
.loader {
    display: inline-block;
}

.loader:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #ddd #eee #eee #eee;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nik {
    color: #e7a81b;
}
